

<button class="btn btn-primary" (click)="create()">Novo</button>
<table class="table table-dark mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of Clients">
      <th scope="row">{{client.id}}</th>
      <td>{{client.name}}</td>
      <td>{{client.email}}</td>
      <td>
        <button class="btn btn-warning me-2" (click)="edit(client)">Editar</button>
        <button class="btn btn-danger"  (click)="delete(client)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
